body {
    font-family: sans-serif;
    font-size:110%;
    background-color: #ffffff;
     }
  
header {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding-top: 5px;
    font-family: sans-serif;
       }
  
footer{
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: white;
    font-family: sans-serif;
      }
   
#Menu {
    background-color:#ff7300;
    width: 15%;
    color: white;
    font-family: sans-serif;
      }
      
#Menubullets {
color: #ff7300;
}

#Image{
    background-color:rgb(0, 0, 0);
      }

.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 200px;
        width: 150px;
        } 

.linkedin {
        width: 60px;
        border-radius: 50%
          }

.facebook{
        width: 60px;
        border-radius: 50%
         } 

#Skills {
  font-family: sans-serif;
  background-color: #ffffff;
  color: #000000;
        }

#Skillsbullet {
  background-color: #ffffff;
  font-family: sans-serif;
  color: rgb(0, 0, 0);


}

h1, h2, h3, p, ul {
  color: aquamarine;
  font-family: Arial, Helvetica, sans-serif;
           }  





  